<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam cupiditate adipisci blanditiis mollitia quo. Molestiae, possimus totam quasi eveniet doloremque harum temporibus dolorem dolores? Explicabo et quis hic id officia!</p>
    </div>
</div>